<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/app/css/*'
                filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block navigation %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
                'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
                '@AppBundle/Resources/public/js/*'
                '@devGiantsGedDocumentBundle/Resources/public/js/SimpleAjaxUploader.js'
                '@devGiantsGedDocumentBundle/Resources/public/js/addFiles.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
